# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

\Desarrollo\Backend\Limpieza y categorización\Base de datos historial contacto\Reporte Blaster 01_oct_2023.csv
\Desarrollo\Backend\Limpieza y categorización\Base de datos historial contacto\Reporte Blaster 02_oct_2023.csv"
Desarrollo/Backend/Limpieza y categorización/Base de datos historial contacto/Reporte Blaster 01_oct_2023.csv
Desarrollo/Backend/Limpieza y categorización/Base de datos historial contacto/Reporte Blaster 02_oct_2023.csv
